NODE_ENV = "development" // set the correct node for testing or deployment (development or production)

DEV_SERVER_URL = "http://localhost:3000" // set to your local website for testing
SERVER_URL = "PLACEHOLDER" // set to your website for production